In [5]:
import pandas as pd
import numpy as np

In [8]:
df_10_consumption = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_010_consumption.csv")
df_10_holiday = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_010_holiday.csv")
df_10_weather = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_010_weather.csv")
df_30_consumption = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_030_consumption.csv")
df_30_holiday = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_030_holiday.csv")
df_30_weather = pd.read_csv(r"C:\Users\NicholasOliver\OneDrive - amendllc.com\DS_Case_Study\2024-04-ds_cast_study_data\division_030_weather.csv")

In [9]:
print(df_10_consumption)

        Division  AccountID DayOfTheYear  TotalConsumption  Unnamed: 4
0             10         58     1/1/2020               124         NaN
1             10         65     1/1/2020               167         NaN
2             10        152     1/1/2020                70         NaN
3             10        428     1/1/2020               146         NaN
4             10        429     1/1/2020               107         NaN
...          ...        ...          ...               ...         ...
216232        10     167963   12/31/2022                36         NaN
216233        10     167974   12/31/2022               629         NaN
216234        10     168003   12/31/2022                48         NaN
216235        10     175443   12/31/2022              1839         NaN
216236        10     220596   12/31/2022               -68         NaN

[216237 rows x 5 columns]